<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Анализатор страниц</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</head>
<section>
    <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Анализатор страниц</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/urls">Сайты</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-lg mt-5" th:object="${url}">
        <h1 th:text="*{getName()}">Сайт</h1>

        <table class="table table-bordered table-hover mt-3">
            <tbody>
            <tr>
                <td class="col-3">ID</td>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td th:text="*{getName()}"></td>
            </tr>
            <tr>
                <td>Дата последней проверки</td>
                <td th:text="${#dates.format(url.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="container-lg mt-5" th:object="${url}">
            <div th:if="${session.flash}" class="rounded-0 m-0 alert alert-dismissible fade show alert-danger"
                 role="alert" th:text="${session.flash}">
                <div th:if="${session.flash}" th:text="${#session.removeAttribute('flash')}"></div>
            </div>
            <h2 class="mt-5">Проверки</h2>
            <form method="post" th:action="@{/urls/{id}/checks(id=*{id})}">
                <button type="submit" class="btn btn-primary">Запустить проверку</button>
            </form>
        </div>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-1">Код ответа</th>
                <th>title</th>
                <th>h1</th>
                <th>description</th>
                <th class="col-2">Дата проверки</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check: ${checks}">
                <td class="col-1" th:text="${check.id}">ID</td>
                <td class="col-1" th:text="${check.statusCode}">Код ответа</td>
                <td th:text="${check.title}">title</td>
                <td th:text="${check.h1}">h1</td>
                <td th:text="${check.description}">description</td>
                <td class="col-2" th:text="${#dates.format(check.createdAt, 'dd/MM/yyyy HH:mm')}">Дата проверки</td>
            </tr>
            </tbody>
        </table>
    </div>

    </body>
</section>
</section>
